asn1crypto==0.24.0
astroid==1.6.5
backports.functools-lru-cache==1.5
certifi==2018.4.16
configparser==3.5.0
cryptography==2.1.4
dj-database-url==0.5.0
Django==1.11.2
django-crispy-forms==1.6.1
gunicorn==19.7.1
olefile==0.44
Pillow==4.1.1
psycopg2==2.7.1
pytz==2017.2
futures==3.1.1
